:root {
    --primary-color: #00dffc;
    --secondary-color: #008c9e;
    --tertiary-color: #005f6b;
}


* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--secondary-color);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: white;
    text-align: center;
    margin-block-start: 3vw;
    text-size-adjust: 10px;
    font-size: 3vw;
    @media screen and (max-width: 1024px){
      font-size: 7vw;
    }
}

.container {
    display: grid;
    place-items: center;
    min-height: 75vh;
  }

.heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0; 
   
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    @media screen and (max-width: 1024px){
      grid-gap: 4vw;
    }
  }
  
  .card {
    height: 21vw;
    width: 21vw;
    max-width: 90px;
    max-height: 110px;
    background-color: #005f6b;
    border-radius: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.3s all ease;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .card img {
    width: 80%;
    height: auto;
    opacity: 0;
    transition: 0.3s all ease;
  }
  
  .card.clicked {
    background-color: orange;
  }
  
  .card.checked {
    background-color: lightgreen;
  }
  
  .card.clicked img,
  .card.checked img {
    opacity: 1;
  }
  
  .card.shake {
    background-color: #f15f5f;
    animation: shake 0.5s;
  }
  
  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
  


@media screen and (max-width: 768px) {
    .box {
        width: 80px;
        height: 80px;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 320px) {
    .box {
        width: 60px;
        height: 60px;
        font-size: 1em;
    }
}

h2 {
    color: black;
    text-align: center;
    
}
.container2{
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 1em;
  max-width: 15em;
  border-radius: 10px;
  padding: 0.6em 4em 1.4em 4em;
  margin: 30px auto 30px;
  gap: 0.6em;
  @media screen and (max-width: 1024px){
    padding: 0.6em 2em 1.4em 2em;
  }
}

.star {
    font-size: 3em;
    color: yellow;
  
}

@media screen and (max-width: 320px) {
    .star {
        font-size: 3em;
    }
}


.colored-box {
    width: 600px;
    height: 200px;
    background-color: var(--secondary-color);   
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: auto;
    
   }

   @media screen and (max-width: 768px) {
    .colored-box {
        width: 400px;
        height: 150px;
        padding: 15px;
    }
}

@media screen and (max-width: 320px) {
    .colored-box {
        width: 300px;
        height: 100px;
        padding: 10px;
    }
}

section {
    margin-bottom: 3%;
}

.colored-box p {
    color: white;
}

.exit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
}

.exit-button:hover {
    background-color: #005f6b;
}

body {
    background-color: var(--primary-color);

   
}

@media (max-width: 320px) {
    body {
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
}


p {
    font-size: 24px;
  
}

@media screen and (max-width: 768px) {
    p {
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) {
    p {
        font-size: 16px;
    }
}

