:root{
    --couleur_fond : rgb(0, 223, 252);
    --couleur_section : rgb(0, 140, 158);
    --couleur_foncer : rgb(0, 95, 107);
    --couleur_noirClaire : rgb(52, 56, 56);
}

*{
    margin : 0;
    padding: 0;
    /* border: 1px red solid; */
}

body{
    background-color: var(--couleur_fond);
}

header{
    background-color: var(--couleur_section);
    display: flex;
    flex-direction: column;
}

.header_icon{
    display: flex;
    align-items: center;
}

#heder_logo_will{
    width: 20em;
    height: 10em;
    margin-left: 1em;
    margin-right: 2vw;
    @media screen and (max-width: 1024px){
        width: 8em;
        height: 4em;
    }
}

.icon4{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.icon{
    width: 5em;
    height: 5em;
    @media screen and (max-width: 1024px){
        width: 2em;
        height: 2em;
    }
}

header h1{
    display: inline;
    font-size: 7em;
    margin: 0.1em auto 0.5em auto;
    font-family: Arial, Helvetica, sans-serif;
    @media screen and (max-width: 1024px){
        font-size: 3em;
    }
}

/* le corp de la page */

main .sectionDescription{
    margin: 10em 15em 0em 15em;
    background-color: var(--couleur_section);
    padding: 0em 5em 3.5em 5em;
    border: 4px black solid;
    border-radius: 55px;
    @media screen and (max-width: 1024px){
        margin: 2.5em 2em 0em 2em;
        padding: 0em 3em 2em 3em;
        border-radius: 40px;

    }
}

main .sectionDescription h2{
    font-size: 4.5em;
    margin: 0.3em auto 0.4em auto;
    text-align: center;
    @media screen and (max-width: 1024px){
        font-size: 2em;
    }
}

main .sectionDescription p{
    font-size: 1.3em;
    /* ⚠️ */
    text-align: center;
    @media screen and (max-width: 1024px){
        font-size: 1em;
    }
}


main .crew .titreCrew{
    text-align: center;
}


main .crew .titreCrew h2{
    display: inline-block;
    background-color: var(--couleur_section);
    border: 3px black solid;
    border-radius: 15px;
    padding: 0 0.1em 0 0.1em;
    margin: 1em auto 1em auto;
    font-size: 4.5em;
    @media screen and (max-width: 1024px){
        font-size: 2.5em;
    }
}

/* les filtre */

main .crew .filtre{
    display: flex;
    margin: 0 5vw 4vw 5vw;
    justify-content: space-between;
}

main .crew .filtre select{
    background-color: var(--couleur_foncer);
    padding: 0.3vw 0.5vw;
    border-radius: 50px;
    border: 3px black solid;
    font-size: 2vw;
}

main .crew .filtre label{
    position: absolute; /* Positionne le label de façon absolue */
    top: -1.5em; /* Déplace le label vers le haut */
    left: 0; /* Aligne à gauche */
    background-color: white; /* Optionnel : pour cacher le select en dessous */
    padding: 0 0.2em; /* Ajoute un peu d'espace autour du texte */
}

main .crew .filtre p{
    display: inline;
    background-color: var(--couleur_foncer);
    font-size: 2vw;
    padding: 0.3vw 1vw;
    border: 3px black solid;
    border-radius: 50px;
}

main .crew .filtre button{
    background-color: var(--couleur_foncer);
    font-size: 2vw;
    padding: 0.3vw 1vw;
    border: 3px black solid;
    border-radius: 50px;
}
main .crew .filtre button:hover{
    cursor: pointer;
    background-color: rgb(13, 144, 164);

}

#recherche{
    background-color: var(--couleur_foncer);
    font-size: 2vw;
    padding: 0.3vw 1vw;
    border: 3px black solid;
    border-radius: 50px;
}

/* les profile */


main .crew .profil{
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5vw;
    align-items:flex-start;
    @media screen and (max-width: 1024px){
        margin-top: 1.5em;
    }
}

/* le cadre des case */
.profiltype{
    background-color: var(--couleur_foncer);
    border: 4px black solid;
    position: relative;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    @media screen and (max-width: 1024px){
        border: 2.5px black solid;
    }
}
.profiltype:hover{
    cursor: pointer;
    border: 4px rgb(255, 0, 0) solid;
    @media screen and (max-width: 1024px){
        border: 2.5px rgb(255, 0, 0) solid;
    }
}
/* le crayon */

.profiltype .crayon{
    position: absolute;
    z-index: 1;
    display: inline;
    font-size: 1.8em;
    background-color: var(--couleur_foncer);
    border: 3px rgb(0, 0, 0) solid;
    /* padding: 5.2528% 4%; */
    padding: 5% 5%;
    border-radius: 50%;
    top: -7%;
    right: -10%;
    @media screen and (max-width: 1024px){
        font-size: 1.1em;
        top: -6.5%;
        right: -9%;
        border: 1.5px rgb(0, 0, 0) solid;
    }
}
.profiltype .crayon:hover{
    cursor: pointer;
    border: 3px rgb(255, 0, 0) solid;
    @media screen and (max-width: 1024px){
        border: 1.5px rgb(255, 0, 0) solid;
    }
}

.profiltype .imageTypeCadre{
    width: 170px;
    height: 194px;
    overflow: hidden;
    border: 8px solid black;
    position: relative;
    margin: 12px;
    border-radius: 8px;
    @media screen and (max-width: 1024px){
        width: 119px;
        height: 135px;
        border: 2.5px solid black;
        border-radius: 5px;
        margin: 0.5em;
    }
}

.profiltype .imageTypeCadre img{
    position: absolute; /* Permet le positionnement précis */
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
}


.profiltype .profilTypeInfo{
    background-color: white;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px 15px;
    min-width: 5.5em;
    min-height: 46px;
    border-radius: 50px;
    margin-top: 15px;
    @media screen and (max-width: 1024px){
        min-width: 1.8em;
        padding: 0.1em 1.3em 4px 1.3em;
        margin-top: 0.35em;
        min-height: 28px;

    }
}

.profiltype .profilTypeInfo p{
    font-size: 1.2em;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    @media screen and (max-width: 1024px){
        font-size: 0.7em;
    }
}

.profiltype .profilTypeBarre{
    margin-top: 25px;
    margin-bottom: 15px;
    border: 2px black solid;
    border-radius: 100px;
    width: 86%;
    height: 10px;
    display: flex;
    justify-content: left;
    background-color: rgb(217, 217, 217);
    @media screen and (max-width: 1024px){
        height: 4.5px;
        border: 1px black solid;
        margin-top: 0.8em;
        margin-bottom: 0.7em;
    }

}

.profiltype .profilTypeBarre p{
    background-color: rgb(187, 255, 0);
    width: 50%;
    height: 100%;
    border-radius: 100px;
}

/* bouton ajouter */

.profil .ajouter{
    background-color: var(--couleur_foncer);
    border: 4px black solid;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    width: 210px;
    height: 351px;
    position: relative;
    @media screen and (max-width: 1024px){
        width: 139px;
        height: 224px;
    }
}
.profil .ajouter:hover{
    cursor: pointer;
    border: 4px rgb(0, 255, 0) solid;
}

.profil .ajouter .plusVertical{
    height: 160px;
    width: 18px;
    background-color: black;
    position: absolute;
    top: 40px;
    left: calc(105px - 9px);
    @media screen and (max-width: 1024px){
        height: 112px;
        width: 11px;
        top: 28px;
        left: calc(66px - 5px);
    }
}

.profil .ajouter .plusHaurisontal{
    height: 18px;
    width: 160px;
    background-color: black;
    position: absolute;
    top: calc(120px - 9px);
    left: 25px;
    @media screen and (max-width: 1024px){
        height: 11px;
        width: 112px;
        top: calc(80px);
        left: 10px;
    }
}

.profil .ajouter .plusTexte{
    font-size: 2.1em;
    text-align: center;
    margin-top: 135%;
    font-weight:bold;
    @media screen and (max-width: 1024px){
        font-size: 1.6em;
    }
}

/* partie jeux */

main .crew .jeux{
    display: flex;
}

main .crew .jeux button{
    color: white;
    background-color: var(--couleur_noirClaire);
    font-size: 1.8em;
    padding: 30px 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    margin: 18vh auto;
    @media screen and (max-width: 1024px){
        font-size: 1.1em;
        padding: 15px 40px;
    }
}
main .crew .jeux button:hover{
    background-color: rgb(41, 43, 43);
    cursor: pointer;
}


#darkmod{
    background-color: transparent;
    border-radius: 50%;
    border: 7px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    z-index: 10;
    bottom: 3vw;
    right: 3vw;
    @media screen and (max-width: 1024px){
        border: 4px black solid;
        bottom: 10vw;
        right: 5vw;
    }
}

#imageDarkmod{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: var(--couleur_section);
    padding: 5x;
    @media screen and (max-width: 1024px){
        width: 60px;
        height: 60px;
    }
}

/* esster egg endroi cacher avec le poiter de la souri en charger */

/* style.css darkMode*/
body {
    transition: background-color 0.5s, color 0.5s;
}

body.light-mode {
    background-color: var(--couleur_fond);
   
}

body.dark-mode {
    background-color: rgb(84, 94, 94);
    
}

.darkmodBouton {
    cursor: pointer;
}
