*{
    margin: 0;
    padding: 0;
}

footer{
    background-color: rgb(0, 140, 158);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > h2{
    font-size: 5em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.2em;
    @media screen and (max-width: 1024px){
        font-size: 3em;
        margin-top: 0.5em;
    }
}

footer nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3em;
    gap: 8vw;
    flex-wrap: wrap;

}


footer nav div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer nav div img{
    width: 3.5em;
    height: 3.5em;
    @media screen and (max-width: 1024px){
        width: 2.5em;
        height: 2.5em;
    }
}

footer nav div p{
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
    @media screen and (max-width: 1024px){
        font-size: 5vw;
    }
}

footer > img{
    margin-top: 5em;
    width: 442px;
    height: 221;
    @media screen and (max-width: 1024px){
        width: 182px;
        height: 91;
        margin-top: 3em;
    }

}

footer > p {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 1.5em;
    @media screen and (max-width: 1024px){
        font-size: 1.3em;
    }
}

footer section{
    margin-top: 15vh;
    display: flex;
    width: 100%;
    justify-content: space-around;
    @media screen and (max-width: 1024px){
        margin-top: 20vh;
    }
}

footer section p{
    font-size: 1.8em;
    margin-bottom: 0.3em;
    @media screen and (max-width: 1024px){
    font-size: 2.7vw;
    }
}