@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .Vuedeprofil, .Description {
        font-size: 18px;
    }

    .social-icons img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .image1 {
        width: 80%;
    }

    .rectangle, .rectangle2, .rectangle3, .rectangle4, .rectangle5, .rectangle6 {
        width: 90%;
    }

    .Vuedeprofil, .Description {
        font-size: 16px;
    }

    .social-icons img {
        width: 30px;
        height: 30px;
    }
}